This is my messages index template!!!! (not sparta)
<div id = "chat" class = "chat-box"></div>
<form id = "message">
	<input type = "text" id = "content" />
	<input type = "submit" value = "Post" />
</form>